.searchBoxContainer {
    display: flex;
    flex-direction: column;

    input {
        height: 1.5rem;
        padding: 5px 25px;
        border: none;
        margin-bottom: 10px;
        border-radius: 5px;
        color: #026891;
        text-transform: capitalize;
    }

    ul {
        max-height: 15.5rem;
        overflow: auto;
        border-radius: 5px;

        li {
            background-color: white;
            font-family: 'Verdana', sans-serif;
            font-size: 13px;
            color: #e98a70;
            text-transform: capitalize;

            @media (min-width: 500px) {
                white-space: nowrap;
                overflow: hidden;
                text-overflow: ellipsis;
                height: 1rem;
            }

            &:not(:first-child) {
                border-top: 1px;
                border-style: solid;
                border-color: rgb(220, 218, 218);
            }

            &.hovered {
                background-color: #e98a70;
                color: white;
            }

            button {
                text-transform: capitalize;
                border: none;
                background: transparent;
                color: white;
                padding: 0;
                cursor: pointer;
                border-style: hidden hidden solid hidden;

                box-shadow: inset 0 0 0 0 white;
                padding: 0 0.1rem;
                transition: color 0.3s ease-in-out, box-shadow 0.3s ease-in-out;

                &:hover {
                    color: #e98a70;
                    box-shadow: inset 200px 0 0 0 white;
                }
            }
        }
    }
}
