.container {
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    height: 75vh;
    flex-direction: column;

    h1 {
        font-size: 2.9rem;
        margin-bottom: 20px;
        margin-top: 20px;
    }

    h2 {
        font-size: 1.2rem;
        margin-bottom: 20px;
        font-family: 'Montserrat', sans-serif;
    }

    span,
    button,
    h1 {
        font-family: 'Crete Round', serif;
    }

    button {
        border: none;
        background: transparent;
        color: white;
        font-weight: bold;
        cursor: pointer;
        font-size: 1.2rem;
        padding: 0 0 0.1rem 0;
        transition: all 0.3s;

        &:hover {
            color: #ffcbb8;
        }
    }
}
