.app {
    background-image: url('../src/assets/images/city.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    padding: 0 5%;
    overflow: auto;

    .wrapper {
        color: white;
        text-align: center;
        border-radius: 5px;
        filter: drop-shadow(0 5mm 3mm rgba(25, 25, 25, 0.2));
        margin-top: 20vh;
        padding-bottom: 8vh;
    }

    h1 {
        font-size: 4rem;
        margin-bottom: 40px;
        font-family: 'Crete Round', serif;

        @media (max-width: 500px) {
            font-size: 2.9rem;
        }
    }

    h2 {
        font-size: 1.2rem;
        margin-bottom: 20px;
        font-family: 'Montserrat', sans-serif;

        @media (max-width: 500px) {
            font-size: 1rem;
            line-height: 1.3rem;
            padding: 0 5%;
        }
    }

    h3 {
        font-size: 24px;
        margin-bottom: 20px;
    }

    li {
        padding: 6px;
    }

    hr {
        margin-top: 20px;
        margin-bottom: 20px;
    }
}
