.searchBoxContainer {
    display: flex;
    flex-direction: column;

    input {
        height: 1.5rem;
        padding: 5px 25px;
        border: none;
        margin-bottom: 10px;
        border-radius: 5px;
        color: #026891;
    }

    ul {
        max-height: 15.5rem;
        overflow: auto;
        border-radius: 5px;

        li {
            background-color: white;
            height: 1rem;
            font-family: 'Verdana', sans-serif;
            font-size: 13px;
            color: #e98a70;
            white-space: nowrap;
            overflow: hidden;
            text-overflow: ellipsis;

            &:not(:first-child) {
                border-top: 1px;
                border-style: solid;
                border-color: rgb(220, 218, 218);
            }

            &.hovered {
                background-color: #e98a70;
                color: white;
            }
        }
    }
}
