.searchBoxContainer {
    display: flex;
    flex-direction: column;

    input {
        height: 1.5rem;
        padding: 5px 25px;
        border: none;
        margin-bottom: 10px;
        border-radius: 5px;
    }

    ul {
        max-height: 15.5rem;
        overflow: auto;
        border-radius: 5px;

        li {
            background-color: white;
            height: 1rem;
            border-width: 0 1px 1px 1px;
            border-style: solid;
            border-color: rgb(220, 218, 218);
            font-family: 'Verdana', sans-serif;
            font-size: 13px;
            color: #5f91f6;

            &.hovered {
                background-color: #5f91f6;
                color: white;
            }

            button {
                background-color: pink;
                width: 100%;
                display: block;
            }
        }
    }
}
